@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f3f4f6;
}

/* Ensure Leaflet map takes full height */
.leaflet-container {
  height: 100vh;
  width: 100%;
  z-index: 10;
}